:root {
    --b-color: #4d4d4d;
    --secondary-bg: #262626;
}
html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--b-color);
        border-radius: 2px;
        height: 13%;
    }
    @-moz-document url-prefix() {
        scrollbar-color: var(--b-color) transparent;
    }
}
body {
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    input,
    a {
        user-select: text;
    }
}
